<div class="container">    
    <h1 mat-dialog-title>Agregar Productos</h1>   
    <div mat-dialog-content>      
    <form [formGroup]="formGuardar" class="pt-3">
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Codigo Producto</mat-label>
                <input matInput name="codPro" formControlName="codPro" >
                <mat-error *ngIf="validacion('codPro')">El campo es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Descripcion</mat-label>
                <input matInput name="descripcion" formControlName="descripcion" >
                <mat-error *ngIf="validacion('descripcion')">El campo es requerido</mat-error>
            </mat-form-field>
        </div>        
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Precio</mat-label>
                <input matInput name="precio" formControlName="precio" >
                <mat-error *ngIf="validacion('precio')">El campo es requerido</mat-error>
            </mat-form-field>
        </div>
    </form>    
    </div>    
        <div mat-dialog-actions class="d-flex justify-content-center gap-3 mb-3">
            <button mat-button [mat-dialog-close]="" mat-raised-button color="primary" [disabled]="formGuardar.invalid" (click)="guardarProducto()" >Guardar</button>
            <button mat-button [mat-dialog-close]="" >Cancelar</button>
        </div>
</div>
